@import url(../styles/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    line-height: 1.5;
    outline: none;
    border: none;
   
}
a, em, strong{
    color: inherit;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

body, html{
    height: 100vh;
}
.wrapper{
    font-size: 18px;
    font-family: "Gilroy-Medium", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
}
/* .container{
    max-width: 961px;
    margin: 0 auto;
} */